.post-list-item-title {
  font-size: 1.1em;
  @media (max-width: 410px) {
    font-size: 1em;
  }
}

.post-list-unpublished {
  color: var(--background-secondary);
}

.post-list-item:hover,
.post-list-unpublished:hover {
  background-color: var(--background-secondary);
  color: var(--background);
}

.animate-post-list-item {
  animation: postItemAnim ease-out 0.3s forwards;
  opacity: 0;
}

@keyframes postItemAnim {
  25% {
    opacity: 0;
    transform: translateX(40px);
  }

  75% {
    background-color: var(--background-secondary);
    color: var(--background);
    transform: translateX(10px);
    opacity: 0.8;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
