.posts-cont {
  //background-color: rgb(36, 36, 36);
  height: 100%;
  padding-block: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 10px;
  ul {
    li {
      transition: 150ms;
      a {
        div {
          padding-block: 25px;
          padding-inline: 20px;
          width: 100%;
          display: flex;
          gap: 10px;
          align-items: baseline;
          h2 {
            font-size: 1.1em;
            text-wrap: pretty;
            @media (max-width: 410px) {
              font-size: 1em;
            }
          }
        }
      }
    }
  }
}

.post-list-unpublished {
  color: var(--background-secondary);
}

.post-list-item:hover,
.post-list-unpublished:hover {
  background-color: var(--background-secondary);
  color: var(--background);
}

.animate-post-list-item {
  animation: postItemAnim ease-out 0.3s forwards;
  opacity: 0;
}

@keyframes postItemAnim {
  25% {
    opacity: 0;
    transform: translateX(40px);
  }

  75% {
    background-color: var(--background-secondary);
    color: var(--background);
    transform: translateX(10px);
    opacity: 0.8;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
