$size-s: 30px;
$size-m: 35px;
$size-l: 40px;

.ball {
  --size: 25px;
  --timing: 0.7s;
  --displace: 70px;
  //border-radius: 50%;
  height: $size-l;
  width: $size-l;

  @media (max-width: 500px) {
    height: $size-m;
    width: $size-m;
  }
  @media (max-width: 390px) {
    height: $size-s;
    width: $size-s;
  }
  background: #000;
  margin-right: var(--displace);
  animation: animation321 var(--timing) infinite alternate
    cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

@keyframes animation321 {
  0% {
    background: #4284f3;
    transform: translateX(var(--displace));
  }

  100% {
    background: #ea4335;
    transform: translateX(00px);
  }
}
