.post-page-spinner {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  width: 500px;
  @media (max-width: 500px) {
    width: 100vw;
  }
}

@keyframes postContentIn {
  0% {
    opacity: 0;
    transform: skewX(10deg);
  }
  100% {
    opacity: 1;
    transform: skewX(0deg);
  }
}

@keyframes sideBarIn {
  0% {
    opacity: 0;
    transform: translateX(-5);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
