.register-page {
  padding-bottom: 0;
}

.register-machine {
  padding: 10px 20px 20px 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  @media (max-width: 555px) {
    width: 100vw;
    min-height: 100%;
  }
}

.register-screen {
  background-color: rgb(155, 155, 155);
  padding: 5px;
  height: 170px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;
  border-radius: 8px;
  p {
    color: rgb(44, 245, 60);
    width: 100%;
    padding-left: 4px;
    text-align: left;
    user-select: none;
  }
  .old-msg {
    color: rgba(255, 255, 255, 0.418);
    font-size: 13px;
  }
  .active-symbol {
    margin-right: 3px;
    color: rgb(231, 231, 231);
  }
}

.pixelate {
  background-color: hsla(0, 0%, 95%, 0);
  background-image: linear-gradient(rgba(8, 8, 8, 0.459) 1px, transparent 0),
    linear-gradient(90deg, rgba(228, 214, 221, 0.459) 1px, transparent 0);
  background-size: 2px 2px;
  opacity: 0.8;
}

.cursor {
  margin-left: 3px;
  animation: blink 1.5s infinite;
  color: white;
}

.field-ok {
  border: 3px solid rgba(86, 238, 66, 0.788);
}

.field-error {
  border: 3px solid rgba(238, 66, 66, 0.788);
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
