.paragraph-input {
  min-height: 150px;
  max-height: 400px;
  padding-right: 28px;
}

.dynamic-inputs {
  position: relative;

  .dynamic-input {
    width: 100%;
  }

  .dynamic-inputs-controls {
    position: absolute;
    display: flex;
    flex-direction: column;
    border-radius: 8px;

    width: 80px;
    padding: 5px;
    right: 30px;
    top: 0px;
    button {
      position: relative;
      height: initial;
      width: initial;
      border-radius: 5px;
      display: block;
      padding: 0;
      padding-inline: 5px;
      height: 30px;
      width: 100%;
      background-color: white;
      color: black;
    }
  }
}

#setControlsBtn {
  position: absolute;
  padding: 0;
  padding-inline: 0;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  top: 0px;
  right: -5px;
  cursor: pointer;
  z-index: 10;
}

#write-post-image-preview-btn {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom: 0px;
}

#write-post-image-description {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  padding-left: 10px;
}

#write-post-image-description:active,
#write-post-image-description:focus {
  border: none;
  outline: none;
}
